# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

projects/vs2013/Debug
projects/vs2013/Release
projects/vs2013/ipch
projects/vs2013/*.opensdf
projects/vs2013/*.sdf
projects/vs2013/*.suo
